<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Durhack Crystal Ball</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='crystalBall.css') }}">

    <style>
        @font-face {
            font-family: 'Minecraft';
            src: url("{{ url_for('static', filename='minecraft.ttf') }}") format('truetype');
        }

        body {
            font-family: 'Minecraft', sans-serif;
        }
    </style>
</head>

<body>
    <div class="center">
        <h1>Who will win?</h1>
        <p>
            Pit the world's biggest stars against each other in the most absurd, irrelevant, and glorious competitions imaginable.
            Simply choose an event with your favourite two celebrities and the crystal ball will calculate using our algorithm
            who is more likely to win!
        </p>
    </div>

    <div class="inputs">
        <label for="player1">Choose your first player:</label>
        <select id="player1">
            {% for ath in athletes %}
            <option value="{{ ath }}">{{ ath }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="inputs">
        <label for="player2">Choose your second player:</label>
        <select id="player2">
            {% for ath in athletes %}
            <option value="{{ ath }}">{{ ath }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="inputs">
        <label for="event">Choose your event:</label>
        <select id="event">
            {% for act in activities %}
            <option value="{{ act }}">{{ act }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="center">
        <button id="simulateBtn" class="btn btn-primary" onClick="shake()">Shake</button>
    </div>

    <div id="results" class="center" ></div>
    <!--<div id="results" class="center" style="margin-top:20px; font-weight:bold;"></div>-->

    <div class="center">
        <img id="ball"
             alt="Crystal Ball"
             src="{{ url_for('static', filename='pixil-frame-0.png') }}"
             width="387.5" height="375">
    </div>


    <script src="{{ url_for('static', filename='crystalBall.js') }}"></script>
</body>
</html>